* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    text-decoration: none;
    color: #000;
}

.container {
    position: relative;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Arial;
}

header {

    /*background-color: bisque;*/
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 2;
    transition: all 1s;
    opacity: 1;
    visibility: visible;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border: 10px solid white;
    /*box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.04);*/
    border-radius: 50px;
    border-top-color: #D2691E;
    animation: 2s spin infinite linear;
}

.done {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.checkbox {
    cursor: pointer;
}

.header-menu a {
    color: #fff;
}

.button {
    display: inline-block;
    padding: 10px;
    border: 1px solid #000;
    color: #000;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px 0 60px;
}

.header-menu {
    background-color: #D2691E;
    padding: 20px 0px;
}


.header-number {
    margin-right: 15px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.logo-inner {
    display: flex;
    align-items: center;
    max-width: 70px;
    max-height: 70px;
}

.logo {
    width: 100%;
    height: 100%;
}

.logo-name {
    font-family: Arial;
    font-size: 30px;
    color: #D2691E;
}


.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdown {
    position: absolute;
    top: 20px;
    display: block;
    padding: 5px 20px;
    border: 1px solid #fff;
    background-color: #F4A460;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu__btn {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    transition: color 0.3s ease-in-out;
}


.dropdown__link {
    color: #fff;
}

.dropdown--active {
    opacity: 1;
    visibility: visible;
    /*transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;*/
}

.dropdown__item {
    list-style: none;
}

.menu__btn--active {
    color: rgba(250, 250, 250, 0.6);
}


.menu__item {
    list-style: none;
}

.menu__item:not(:last-child) {
    margin-right: 30px;
}

.dropdown__item:not(:last-child) {
    margin-bottom: 5px;
}





.menu-list_link {
    color: #fff;
    transition: color ease 0.3s;
}

.menu-list_link:hover {
    color: coral;
    transition: color ease 0.3s;
}

.about {
    display: block;
    background-color: #F4A460;
    max-height: 250px;
    height: 200px;
}

.about .container {
    display: flex;
    justify-content: center;
}


.info {
    position: absolute;
    bottom: 0;
    display: flex;
    /*max-width: 660px;*/
    padding: 20px;
    background-color: rgba(255,255,255, 0.6);
}

.info__container {
    max-width: 220px;
    min-width: 220px;
}

.info-job__title  {
    height: 35px;
    /*margin-bottom: 10px;*/
    text-transform: uppercase;
    font-size: 10px;
    color: #000;
}

.info-job__title h3 {
    color: #000;
}

.info-job__text {
    max-width: 163px;
    min-width: 150px;
    font-size: 12px;
    color: #FFF;
}

.services {
    display: block;
    margin-top: 50px;
}

.services .container {
    display: flex;
    justify-content: space-around;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-title h3 {
    line-height: 40px;
}

.services-title h3::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 40px;
    height: 2px;
    background-color: #D2691E;
}

.services-example {
    max-width: 400px;
    margin-top: 30px;
}

.services-example_inner {

}

.services-example_img img {
    width: 100%;
    height: 300px;
}

.services-example_img img:hover {
    cursor: pointer;
}


.services-example_inner {
    position: relative;
}


.services-example_title {
    margin-top: 10px;
}

.footer {
    margin-top: 100px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.services-box_img img {
    width: 300px;
}

.services-box_img {
    margin-bottom: 10px;
}

.services-box_info {
    margin-bottom: 10px;
    font-size: 14px;
}

.services-box_title {
    margin-bottom: 5px;
}

.services-box_button button {
    border: none;
    padding: 20px 40px;
    background-color: #D2691E;
    color: #fff;
    cursor: pointer;
    transition: all revert 0.3s;
}

.services-box_button button:hover {
    background-color: rgba(210, 105,30, 0.7);
    transition: all revert 0.3s;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    background-color: #D2691E;
}

footer a {
    font-size: 30px;
    color: rgba(250, 250, 250, 0.8);
}

.social-container {
    display: flex;
    list-style: none;
}

.social-item {
    padding-right: 5px;
    text-decoration: none;
}

.social-item:nth-child(4) {
    padding-right: 0;
}

.social-item_link {
    display: block;
    width: 20px;
    height: 20px;
}

.social-item_link img {
    width: 100%;
    height: 100%;
}

.works {
    margin-top: 50px;
}

.works .container {
    display: flex;
    justify-content: space-around;
}

.works-title {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #000000;
}

.works-choice {
    list-style: none;
}

.works-choice__elem:not(:last-child) {
    margin-bottom: 5px;
}

.works-choice__elem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.works-choice__elem:nth-child(1) {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.works-choice__elem span {
    display: inline-block;
    width: 250px;
    font-size: 20px;
}

.works-choice__elem  {
    margin-right: 20px;
}

.works-choice__elem .works-price {
    margin-right: 5px;
}

.works-price {
    font-size: 18px;
}
.application {
    margin-top: 100px;
}

.application .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.application__title {
    margin-right: 20px;
    font-size: 20px;
}

.application__amount {
    margin-right: 20px;
    font-size: 20px;
}

.application-btn {
    padding: 10px;
    border: 1px solid #000000;
    background-color: #fff;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    } to {
              transform: translate(-50%, -50%) rotate(360deg);
          }
}

@media (max-width: 1100px) {

    .services-example {
        margin: 30px auto 0 auto;
    }

    .services-example_inner {
        border: none;
    }

    .services-example_img img:hover {
        transform: translate3d(0, 0, 0);
    }

    .services-title {
        margin-left: 150px;
    }

    .services-list {
        flex-direction: column;
        align-items: center;
    }

    .services-box {
        margin-bottom: 50px;
    }
}

@media (max-width: 600px) {
    .services-title {
        margin-left: 50px;
    }
}

