* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

.header {
	background: url(../img/header-bg.png) no-repeat;
	background-size: cover;
	height: auto;
	padding-top: 40px;
	padding-bottom: 10px;
}

.container {
	width: 86%;
	height: auto;
	margin: 0 auto;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.menu {
	
}

.menu-nav {
	font-size: 19px;
	color: #000;
	font-weight: 600;
	padding: 13px 20px;
}

.menu-nav:hover {
	background: #845cff;
	color: #fff;
	border-radius: 7px;
	transition: 0.3s;
}


.menu-nav:nth-child(1) {
	margin-left: 0;
}

.header-info {
	width: 40%;
	padding-top: 260px;
}

.header-info-left {
	padding-bottom: 50px;
}

.header-title {
	font-size: 48px;
	font-weight: 600;
}

.header-text {
	padding-top: 35px;
	font-size: 23px;
}


.header-button-question {
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	font-size: 15px;
	text-transform: uppercase;
	padding: 10px 18px;
	background: #845cff;
	color: #fff;
	font-weight: 600;
	border: none;
	border-radius: 7px;
	cursor: pointer;
}

.header-question {
	font-size: 19px;
}





@media screen and (max-width: 1200px) {
	.header-button-question {
		display: block;
	}
	
	.header-question {
		padding-top: 20px;
	}
} 


@media screen and (min-width: 1200px)  {
	.header {
		height: 100vh;
	}
}

@media screen and (max-width: 990px)  {
	.header-top {
		display: block;
	}
	
	.header-logo {
		display: flex;
		justify-content: center;
	}
	
	.menu {
		display: flex;
		justify-content: center;
		padding-top: 20px;
	}
	
	.header-info {
		width: 55%;
		margin: 0 auto;
		padding-top: 180px;
	}
	
	.header-title {
		text-align: center;
	}
	
	.header-text {
		text-align: center;
	}
	
	.button-link {
		display: flex;
		justify-content: center;
	}
	
	.header-question {
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 730px) {
	.menu {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}




